/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  border-left: 5px solid lightgray;
  min-height: 100%;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
  padding-left: 100px;
}

header, main, footer{
  padding: 1rem 1rem 2rem 2rem;
}

h1{
  color: tomato;
  text-align: left;
}

img{
  width: 100%;
}

ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between; 
  align-items: center;   
}

.headernavbar a{
  color: lightgray;
}

.footernavbar a {
  color: tomato;
  text-decoration: none;
}
.title{
  font-size: 100px;
  text-align: left;
}

a{
  display: block;
  text-align: right;
  color: tomato;
  font-weight: bold;
}

article{
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}
p::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: lightgrey;
}

.copyright{
  color: lightgray;
}

time{
  text-align: left;
}